.cc1 {
  background-color: #006899;
}
.cc2 {
  background-color: #FF6766;
}
.cc3 {
  background-color:#D11250;
  color:#DEFFFF;
}
.cc4 {
  background-color: #DC3D24;
}
.cc5 {
  background-color: #CB8C1D;
}
.cc6 {
  background-color: #D43F3F;
}
.cc7 {
  background-color: #F2EFE4;
  color: #2B2B2B;
}
.cc8 {
  background-color: #6A9A1F;
}
.cc9 {
  background-color: #424242;
}
.cc10 {
  background-color: #4EB1BA;
}
.cc11{
   background-color:#97CE68;
}
.cc12 {
  background-color: #E25D33;
  color: #191919;
}
.cc13 {
  background-color: #DCD8CF;
  color:#FEFFF8;
}
